__pycache__/
*.pyc
*.pyo
.env
datasets/combined/images/
datasets/combined/labels/
datasets/coco_subset/train/images/
datasets/coco_subset/train/labels/
datasets/stairs/stairs/
*.pt
!weights/best_ncnn_model/

weights/best.pt
weights/yolov8n.pt
yolov8n.pt
runs/

*.cache

.vscode